<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body class="container">

    <div id="nav">
      <%- include('partials/header'); %>
    </div>

    <div class="flashes">
      <% if (flashMessages) { %>
        <% if (flashMessages.success) { %>
            <div class="alert alert-success" role="alert">
              <%= flashMessages.success %>
          </div>          
        <% } else if (flashMessages.error) { %>
          <div class="alert alert-danger" role="alert">
              <%= flashMessages.error %>
            </div>
        <% } %>
      <% } %>
    </div>

    <div class="mt-4 p-5 bg-light text-black rounded">
      <%- body %>
    </div>
    <div id="footer">
      <footer>
        <%- include('partials/footer'); %>
      </footer>
    </div>

  </body>
</html>