<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Concert+One">

<style>
  h2 {
    font-family: 'Concert One', cursive;
  }

  .form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-layer {
    width: 45%;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-top: 10px;
  }

  input {
    margin-bottom: 20px;
  }

  button {
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    .form-container {
      flex-direction: column;
      align-items: flex-start;
    }

    .form-layer {
      width: 100%;
      margin-bottom: 20px;
    }
  }
</style>

<div class="data-form">
    <form method="POST" action="<%=`/users/${user._id}/update?_method=PUT`%>">
   <h2>Edit user:</h2>
    <label for="inputFirstName">First Name</label>
    <input type="text" name="first" id="inputFirstName" value="<%=user.name.first %>" placeholder="First" autofocus>
   <label for="inputLastName">Last Name</label>
    <input type="text" name="last" id="inputLastName" value="<%=user.name.last %>" placeholder="Last">
   <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword"value="<%= user.password %>" placeholder="Password" required>
   <label for="inputEmail">Email address</label>
    <input type="email" name="email" id="inputEmail" value="<%=user.email %>" placeholder="Email address" required>

   <label for="phonenumber">Phone number</label>
   <input type="phonenumber" name="phonenumber" id="phonenumber" value="<%=user.phonenumber %>" placeholder="phonenumber" required>

   <label for="inputZipCode">Zip Code</label>
    <input type="text" name="zipCode" id="inputZipCode"pattern="\d*" value="<%= user.zipCode %>" placeholder="ZipCode" required>
   <button type="submit">Update</button>
   </form>
   </div>
