<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Concert+One">

<style>
h2 {
  font-family: 'Concert One', cursive;
}
</style>

<h2>Users Table</h2>
<table class="table">

   
 <thead>
 <tr>
 <th>Name</th>
 <th>Email</th>
 <th>Zip Code</th>
 <th>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone Number</th>
 </tr>
 </thead>
 <tbody>
 <% users.forEach(user => { %>
 <tr>
    <td>
        <a href="<%= `/users/${user._id}` %>">
        <%= user.fullName %>
        </a>
       </td>
 <td><%= user.email %></td>
 <td><%= user.zipCode %></td>
 <td><%= user.phonenumber %></td>
 <td>
    <a href="<%=`/users/${user._id}/edit` %>">
    Edit
   </a>
   </td>

   <td>
    <a href="<%= `users/${user._id}/delete?_method=DELETE` %>"onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
   </td>

 </tr>
 <% }); %>
 </tbody>
</table>
<div>
  <a href="/users/new" class="btn btn-outline-secondary" role="button">Add new user</a>
</div>